<div [hidden]="submitted" *ngIf="userProfile">
  <form #profileForm="ngForm">

  <div *ngIf="jsonError" class="alert alert-danger">
    {{ jsonError }}
  </div>

  <div class="row">
    <div class="col-md-5 form-group">
    <label for="firstName">first name: </label>
    <input [(ngModel)]="userProfile.firstName" name="firstName" class="form-control" id="firstName" maxlength="50" required #firstName="ngModel" />
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="col-md-2 form-group">
      <label>MI: </label>
      <input [(ngModel)]="userProfile.middleInit" name="middleInit" class="form-control" id="middleInit" maxlength="1" />
    </div>

    <div class="col-md-5 form-group">
    <label>last name: </label>
    <input [(ngModel)]="userProfile.lastName" name="lastName" class="form-control" id="lastName" maxlength="50" required #lastName="ngModel" />
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <label>Email Address: </label>
        <input [(ngModel)]="userProfile.email" name="email" class="form-control" id="email" maxlength="100" required #email="ngModel"
               ngControl="email"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
        <div class="alert alert-danger" [hidden]="email.valid || email.untouched">
          <div class="md-char-counter" *ngIf="email.errors && email.errors.required">
            Email is required
          </div>
          <div class="md-char-counter" *ngIf="email.errors && email.errors.pattern">
            Email is invalid
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Address: </label>
        <input [(ngModel)]="userProfile.address1" name="address1" class="form-control" id="address1" maxlength="100" /><br />
        <input [(ngModel)]="userProfile.address2" name="address2" class="form-control" id="address2" maxlength="100"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 form-group">
        <label>City: </label>
        <input [(ngModel)]="userProfile.city" name="city" class="form-control" id="city" maxlength="100" />
      </div>

      <div class="col-md-2 form-group">
        <label>State: </label>
        <input [(ngModel)]="userProfile.state" name="state" class="form-control" id="state" maxlength="2" />
      </div>

      <div class="col-md-3 form-group">
        <label>Zip: </label>
        <input [(ngModel)]="userProfile.zip" name="zip" class="form-control" id="zip" #zip="ngModel" maxlength="10" pattern="^\d{5}(?:[-\s]\d{4})?$" />
        <div class="alert alert-danger" [hidden]="zip.valid || zip.untouched">
          <div class="md-char-counter" *ngIf="zip.errors && zip.errors.pattern">
            Zip code is invalid
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Phone Number: </label>
        <input [ngModel]="userProfile.phone | phoneFormat"
               (ngModelChange)="userProfile.phone=$event"
               name="phone" class="form-control" id="phone" #phone="ngModel" pattern="^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$"/>
        <div class="alert alert-danger" [hidden]="phone.valid || phone.untouched">
          <div class="md-char-counter" *ngIf="phone.errors && phone.errors.pattern">
            Phone Number is invalid
          </div>
        </div>
      </div>
    </div>

  <div class="row buttonRow">
    <div class="col-md-12 form-group">
  <button class="btn btn-primary"  (click)="profileForm.reset()">Reset</button>
  <button class="btn btn-success" (click)="save(profileForm)">Save</button>
    </div>
  </div>
  </form>
</div>

<div [hidden]="!submitted" *ngIf="userProfile">
  <div class="row">
    <div class="col-md-5 text-left">
      <label for="firstName">first name: </label>
      {{ userProfile.firstName }}
    </div>

    <div class="col-md-2 text-left">
      <label>MI: </label>
      {{ userProfile.middleInit }}
    </div>

    <div class="col-md-5 text-left">
      <label>last name: </label>
      {{ userProfile.lastName }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-left">
      <label>Email Address: </label>
      {{ userProfile.email }}
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 text-left">
      <label>Address: </label>
      {{ userProfile.address1 }}<br />
      {{ userProfile.address2 }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-left">
      <label>City: </label>
      {{ userProfile.city }}
    </div>

    <div class="col-md-3 text-left">
      <label>State: </label>
      {{ userProfile.state }}
    </div>

    <div class="col-md-3 text-left">
      <label>Zip: </label>
      {{ userProfile.zip }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-left">
      <label>Phone Number: </label>
      {{ userProfile.phone | phoneFormat }}
    </div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>